/**
 * Place your custom styles here.
 */

body {
	font-family: Arial, sans-serif;
	color: #000;
}

button, button.btn{
	border-radius: 45px;
}

div.region.region-sidebar-second section.block,
div.blocked--managed-0 {
	border-radius: 15px;
	border: 3px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}

div.region.region-footer,
footer.footer.container-fluid,
footer.footer.container {
	background-color: #000;
	border-radius: 0px;
	color: #ccc;
	text-align: center;
	width: 100%;
}

section#block-menu-menu-follow-me- ul.menu.nav li,
section#block-menu-menu-follow-me- ul.menu.nav li a,
section#block-menu-menu-follow-me- ul.menu.nav li a:focus,
section#block-menu-menu-footer1 ul.menu.nav li,
section#block-menu-menu-footer1 ul.menu.nav li a,
section#block-menu-menu-footer1 ul.menu.nav li a:focus,
section#block-menu-menu-footer2 ul.menu.nav li,
section#block-menu-menu-footer2 ul.menu.nav li a,
section#block-menu-menu-footer2 ul.menu.nav li a:focus {
	list-style-type: none;
	float: left;
	display: block;
	text-decoration: none;
	background-color: #000;
	color: #ccc;
	margin: 0px;
	padding: 0px;
	padding-right: 5px;
}

section#block-menu-menu-follow-me- ul.menu.nav li a:hover,
section#block-menu-menu-footer1 ul.menu.nav li a:hover,
section#block-menu-menu-footer2 ul.menu.nav li a:hover {
	background-color: #000;
	color: #900;
}

h1, .block-title, h1.page-header {
	font-weight: bold;
	text-transform: capitalize;
}

h2 {
	text-transform: capitalize;
}

div.main-container.container {
	padding: 15px;
}

a.name.navbar-brand {
	font-weight: bold;
	font-size: 20pt;
}

ul.menu.nav.navbar-nav {
	float: right;
}

a, a:hover, a:focus {
	color: #900;
}

