:root {
  --maroon: #600;
}

/* features.css */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
  text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
  text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}


/* heroes.css */
@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow:
    inset 0 0.5em 1.5em #0000001a,
    inset 0 0.125em 0.5em #00000026;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

img {
  max-width: 100%;
}

code {
  background-color: #000;
  color: #fff;
}


[data-bs-theme="light"] {
  --bg-main: #F8EEDF;
  --bg-accent: #E8C999;
  --text-accent: #8E1616;
  --text-main: #000000;
}

[data-bs-theme="dark"] {
  --bg-main: #061E29;
  --bg-accent: #1D546D;
  --text-accent: #5F9598;
  --text-main: #F3F4F4;
}

.hero,
.bg-text-accent {
  background-color: var(--bg-accent);
  color: var(--text-accent);
}

.bg-main-text-main {
  background-color: var(--bg-main);
  color: var(--text-main);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

main a {
  color: var(--text-accent);
  text-decoration-color: var(--text-accent) !important;
}

a:not(.btn) {
  color: var(--text-main);
  text-decoration-color: var(--text-main) !important;
}

.feature-icon,
.feature-icon-small {
  background-color: var(--text-accent);
  color: var(--bg-accent);
}

.page-header,
.sidebar {
  background-color: var(--text-accent);
  color: var(--bg-accent);
}

aside div,
aside div a {
  background-color: var(--bg-accent);
  color: var(--text-accent) !important;
}

.btn:not(#bd-theme) {
  background-color: var(--text-main) !important;
  color: var(--bg-main) !important;
}

.text-muted {
  color: var(--bg-main);
}