{% extends "base.html" %}

{% block extrahead %}
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ config.site_name }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ config.theme.social_user }}" />
<meta name="twitter:creator" content="{{ config.theme.social_user }}" />

{% if page and page.meta and page.meta.description %}
<meta name="description" content="{{ page.meta.description }}">
<meta property="og:description" content="{{ page.meta.description }}" />
<meta name="twitter:description" content="{{ page.meta.description }}" />
{% else %}
<meta name="description" content="{{ config.site_description }}">
<meta property="og:description" content="{{ config.site_description }}" />
<meta name="twitter:description" content="{{ config.site_description }}" />
{% endif %}


{% if page and page.meta.image %}
<meta property="og:image" content="{{ page.meta.image | url }}" />
<meta name="twitter:image" content="{{ page.meta.image | url }}" />
{% endif %}

{% if page and page.meta.keywords %}
<meta name="keywords" content="{{ page.meta.keywords }}" />
{% endif %}

{% if page and page.meta.ogtype %}
<meta property="og:type" content="{{ page.meta.ogtype }}" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}

{% if page and page.meta.youtube %}
<meta property="og:video" content="{{ page.meta.youtube | url }}" />
{% endif %}

{% if page and page.meta.robots %}
<meta name="robots" content="{{ page.meta.robots }}" />
{% else %}
<meta name="robots" content="index, follow" />
{% endif %}

{% if page and page.canonical_url %}
<link rel="canonical" href="{{ page.canonical_url | url }}">
<meta property="og:url" content="{{ page.canonical_url | url }}" />
<meta property="twitter:url" content="{{ page.canonical_url | url }}" />
{% endif %}

{% if page and page.meta.author %}
<meta name="author" content="{{ page.meta.author }}">
{% else %}
<meta name="author" content="{{ config.site_author }}">
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id={{ config.google_analytics[0] }}"></script>
<script
  async>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-64643711-1');</script>
{% endblock %}

{% block htmltitle %}
{% if page and page.meta and page.meta.title %}
<title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page and page.title and not page.is_homepage %}
<title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
<title>{{ config.site_name }} - {{ config.site_description }}</title>
{% endif %}
{% endblock %}

{% block content %}
{% if page.edit_url %}
<a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
  {% include ".icons/material/pencil.svg" %}
</a>
{% endif %}
{% if not "\x3ch1" in page.content %}
<h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}

{{ page.content }}

{% if page.url == "technology/" or page.url == "lifestyle/" %}
{% for nav_item in nav %}
{% if nav_item.children and page %}
{% for nav_item in nav_item.children | reverse %}

{% if page.url in nav_item.url and nav_item.url != "technology/links/" and nav_item.url != "technology/" and
nav_item.url != "lifestyle/" %}
<div>
  <h2><a href="/{{ nav_item.url }}">{{ nav_item.title }}</a></h2>
  <p>
    {% if nav_item.meta.description %}
    {{ nav_item.meta.description | striptags }}
    {% else %}
    {{ nav_item.content | striptags | truncate(250, false) }}
    {% endif %}
    <br />
    <small>
      A
      <span title="{{ nav_item.content | wordcount }} words">
        {%- set num_of_words = nav_item.content | wordcount // 200 -%}
        {% if num_of_words <= 1 %}1 {% else %}{{ num_of_words }} {% endif %} </span> minute read
          {% if nav_item.meta.posted %}
          | posted on {{ nav_item.meta.posted }}
          {% endif %}
          {% if nav_item.meta.updated %}
          | updated on {{ nav_item.meta.updated }}
          {% endif %}
    </small>
  </p>
</div>
{% endif %}

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}


{% if page and page.url == "technology/links/" %}
<ul>
  {% for nav_item in nav %}
  {% if nav_item.children %}
  {% for nav_item in nav_item.children | reverse | batch(8) | first %}
  {% if 'technology' in nav_item.url and nav_item.url != "technology/links/" %}
  {% set category = nav_item.url.split("/") %}
  <li><a href="/{{ nav_item.url }}">{{ nav_item.title }}</a></li>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
  <li><a href="/">thealmostengineer.com Website</a></li>
  <li><a href="https://github.com/almostengr" target="_blank">My Github</a></li>
  <li><a href="https://www.instagram.com/almostengr" target="_blank">My Instagram @almostengr</a></li>
  <li><a href="https://twitter.com/almostengr" target="_blank">My Twitter @almostengr</a></li>
</ul>
{% endif %}


{% if page and page.meta %}
{% if page.meta.git_revision_date_localized or
page.meta.revision_date or
page.meta.posted or
page.meta.updated
%}
{% include "partials/source-file.html" %}
{% endif %}
{% endif %}

{% if page.meta.keywords %}
{% set keywordlist = page.meta.keywords.split(',') %}
{% for keyword in keywordlist %}
<a href='https://www.google.com/search?q=site:thealmostengineer.com "{{ keyword | trim }}"' class="text-muted"
  target="_self">{{ keyword | trim }}</a>
{%- if not loop.last -%},{%- endif -%}
{% endfor %}
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4218270188842097" data-ad-slot="5189305512"
  data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{% endblock %}