# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/module/custom

# drupal files and directories
.cache/
cache/
install.php 
INSTALL*txt
UPGRADE*txt

