[submodule "docs/gitcheatsheet"]
	path = docs/git_cheatsheet
	url = https://github.com/almostengr/gitcheatsheet.git
[submodule "docs/linuxcheatsheet"]
	path = docs/linux_cheatsheet
	url = https://github.com/almostengr/linuxcheatsheet.git
