[submodule "docs/gitcheatsheet"]
	path = docs/cheatsheet/gitcheatsheet
	url = https://github.com/almostengr/gitcheatsheet.git
[submodule "docs/linuxcheatsheet"]
	path = docs/cheatsheet/linuxcheatsheet
	url = https://github.com/almostengr/linuxcheatsheet.git
[submodule "docs/cookbook"]
	path = docs/cookbook
	url = https://github.com/almostengr/cookbook.git
