[submodule "docs/gitcheatsheet"]
	path = docs/resources/gitcheatsheet
	url = https://github.com/almostengr/gitcheatsheet.git
[submodule "docs/linuxcheatsheet"]
	path = docs/resources/linuxcheatsheet
	url = https://github.com/almostengr/linuxcheatsheet.git
[submodule "docs/resources/pythoncheatsheet"]
	path = docs/resources/pythoncheatsheet
	url = https://github.com/almostengr/pythoncheatsheet.git
[submodule "mkdocs-bootstrap"]
	path = mkdocs-bootstrap
	url = https://github.com/mkdocs/mkdocs-bootstrap.git
