<li class="blog-list-item">
    <h2 class="pt-3">
        <a href="{{ nav_item.url|url }}" class="text-dark">
            {% if nav_item.meta.title %}
            {{ nav_item.meta.title }}
            {% else %}
            {{ nav_item.title }}
            {% endif %}
        </a>
    </h2>
    <div class="">
        {% if nav_item.meta.description %}
        {{ nav_item.meta.description | striptags }}
        {% else %}
        {{ nav_item.content | striptags | truncate(150, false) }}
        {% endif %}
    </div>
    <div class="text-secondary">
        {% if nav_item.meta.posted %}
        <strong>Posted:</strong> {{ nav_item.meta.posted }}
        {% endif %}
        <strong>Read Time:</strong> {{ nav_item.content | wordcount // 200 }} minute(s)
    </div>
    <div class="text-secondary">
        {% if nav_item.meta.keywords %}
        <strong>Keywords:</strong>
        {% set keywordlist = nav_item.meta.keywords.split(',') %}
        {%- include "_keywords.html" -%}
        {% endif %}
    </div>
</li>