<!doctype html>
<html lang="en" data-bs-theme="auto">
{% set presentation = page.url.split('/')[0] %}
{% set presentation_title = presentation.replace('-', ' ') | title %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ config.site_description }}">
    <meta name="author" content="{{ config.site_author }}">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Kenny Robinson" />
    <meta name="theme-color" content="#712cf9" />
    <meta name="robots" content="noindex, nofollow" />
    <title>{{ presentation_title }}</title>
    <meta name="author" content="{{ config.site_author }}">
    <link rel="canonical" href="https://speak.thealmostengineer.com/{{ page.url }}" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column vh-100" id="body">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-shrink-0">
        <div class="container-lg">
            <a class="navbar-brand fw-bold" href="/">{{ presentation_title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                {% set currentDirectory = page.url.split('/')[0] %}

                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    {% if page and currentDirectory in page.previous_page.url %}
                    <li class="nav-item">
                        <a id="previousLink" class="nav-link active" href="/{{ page.previous_page.url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-skip-forward-fill" viewBox="0 0 20 20">
                                <path
                                    d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {% if page and currentDirectory in page.next_page.url %}
                    <li class="nav-item">
                        <a id="nextLink" class="nav-link active" href="/{{ page.next_page.url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-skip-forward-fill" viewBox="0 0 20 20">
                                <path
                                    d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="presentation-container flex-grow-1 container-lg">
        <div class="presentation">
            {% if page and page.meta.image %}
            <div class="row h-100">
                <div class="col-md-7">
                    {{ page.content }}
                </div>
                <div class="col-md-5 text-center mt-5">
                    <div class="row">
                        <img class="img-fluid" src="{{ page.meta.image }}" />
                    </div>
                    {% if page and page.meta.image2 %}
                    <div class="row">
                        <img class="img-fluid" src="{{ page.meta.image2 }}" />
                    </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            {{ page.content }}
            {% endif %}
        </div>
    </main>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
</body>

</html>