:root {
    --dark-gray: #333333;
    --black: #000000;
    --light-red: #ff2200;
    --warning: #ffc107;
    --white: #ffffff;
    --chroma: #00b140;
    --secondary: #6c757d;
}

/* Show the navigation bar is fixed to the top */

/* Jumbotron, Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    min-height: 75rem;
    padding-top: 3.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.btn-dark-gray {
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);
    color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

img {
    height: auto;
    max-width: 100%;
}

.navbar-brand {
    font-weight: bold;
}

.required:after, label.required:after {
    color: var(--light-red);
    content: ' *';
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: large;
}

.text-xlarge {
    font-size: x-large;
}

.text-xxlarge {
    font-size: xx-large;
}

#subfooter a {
    color: var(--white);
}

main a, main a:hover {
    color: var(--black);
    text-decoration: underline;
}

main a.btn, main a:hover.btn {
    text-decoration: none;
}

main a:hover.btn, section input:hover.btn, footer a, footer a:hover {
    color: var(--warning);
}

.jumbotron {
    background-image: url("/images/jumbotron.jpg");
    background-position: center center;
    border-radius: 0;
}

.jumbotron h1 {
    font-weight: bold;
    padding-left: 5px;
    text-shadow: 5px 5px var(--black);
}

.jumbotron>.container>p {
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 3px 3px var(--black);
}

.jumbotron>.container>p>.btn {
    text-shadow: none;
}

.subfooterheader {
    border-bottom: solid 0.25rem;
}

main {
    min-height: 1vh;
}

.navbar>a {
    float: left;
}

.featurette-heading {
    font-size: 3rem;
    margin-top: 0 !important;
}

.bg-chroma {
    background-color: var(--chroma);
}

.h-2 {
    height: 2vh !important;
}

.h-5 {
    height: 5vh !important;
}

.h-10 {
    height: 10vh !important;
}

.h-90 {
    height: 90vh !important;
}

.h-100vh {
    height: 100vh !important;
}

.presentation-sub-text {
    font-size: 55pt;
}

.ytbranding {
    font-size: 2vh;
}

.presentation-main-text {
    font-size: 70pt;
}

#pagecontent>h1 {
    color: var(--secondary);
    text-align: left;
    font-size: 2.5rem;
    margin-left: .5rem !important;
    margin-top: .5rem !important;
    margin-right: .5rem !important;
}

div.youtubevideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.youtubevideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}


.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.youtube {
    background-color: #000;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    border-color: var(--warning);
}
