/* ---------- Color Module Styles ----------- */

/* Main background */

body { background-color:#eeeeee; }

/* Menu */

#wrap { border-top: 3px solid #1f731a; }

#main-menu .menu a.active, #main-menu .menu ul a.active { background: #1f731a; }

#main-menu .menu a.active-trail { background: #1f731a; }

#sitename h1 a:hover, #sitename h2 a:hover { color: #1f731a; }

/* Menu Hover */

#main-menu .menu a:focus,
#main-menu .menu a:hover,
#main-menu .menu a:active,
#main-menu .menu ul a:focus,
#main-menu .menu ul a:hover,
#main-menu .menu ul a:active { background: #adc69d }

/* Link */

a { color: #26d81b; }

a:hover { color: #adc69d; }

.links li a:hover, .field-name-field-tags a:hover { color: #adc69d; }

/* Button */

.form-submit { background: #26d81b; border-color:#26d81b; }

.form-submit:hover { background: #adc69d; }