a{
    color: #aa0000;
}

a:hover{
    color: #ff0000;
}

.ae-jumbotron{
    background-color: #000;
    background-image: url(/images/jumbotron2.jpg); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
    border-radius: 0;
    min-height: 500px;
}
