:root{
    --dark-red-color: #aa0000;
    --light-red-color: #ff0000;
    --dark-gray-color: #333333;
    --mid-gray-color: #999999;
    --light-gray-color: #cccccc;
    --white-color: #ffffff;
    --black-color: #000000;
    --terminal-green-color: #009900;
}

a{
    color: var(--dark-red-color);
    font-weight: bold;
}

a:hover{
    color: var(--light-red-color);
}

.ae-footer-hr{
    background-color: var(--dark-red-color);
    height: 3px;
}

.ae-jumbotron{
    background-color: var(--dark-gray-color);
    background-image: url(/images/jumbotron2.jpg); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
    border-radius: 0;
    min-height: 500px;
}

li.nav-item a.nav-link.active {
    color: var(--white-color);
    background-color: var(--dark-red-color);
}

img{
    max-width: 100%;
    height: auto;
}

article img, article iframe {
    box-shadow: .5rem .5rem rgba(0,0,0,.15)!important;
    margin-bottom: 1rem !important;
    box-sizing: border-box;
    border-radius: 5px;
}

.main{
    min-height: 100vh;
}

.ae-bg-black{
    background-color: var(--black-color) !important;
}

.navbar-brand{
    font-size: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* headers */

h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--dark-red-color);
}

article h2 {
    border-bottom: 1px solid var(--dark-red-color);
}

article h3 {
    font-weight: bold;
}

/* page footer styling */

footer a{
    color: var(--mid-gray-color);
    font-weight: normal;
}

footer a:hover{
    color: var(--white-color);
}

/* handling code displayed on the page */

code.aeoutput{
    background-color: var(--black-color);
    color: var(--terminal-green-color);
}

code.bash, code.sh {
    background-color: var(--black-color);
    color: var(--white-color);
}

pre, p code{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 5px;
    border-radius: 5px;
}
