# Apache settings:

# Handle any server errors
ErrorDocument 404 /404.html
ErrorDocument 500 /404.html

# Do permanent redirects
Redirect 301 /archive/(.*) /
Redirect 301 /category/(.*) /
Redirect 301 /events/(.*) /
Redirect 301 /keywords/(.*) /
Redirect 301 /latest-articles /technology
Redirect 301 /taxonomy/(.*) /
Redirect 301 /recent-posts /technology

Redirect 301 /contact-me /about
Redirect 301 /7-reasons-i-can-do-without-app /lifestyle/2019.06.16-7-reasons-i-can-do-that-without-the-app
Redirect 301 /change-air-filter-2013-2018-5th-generation-nissan-altima /handyman/2018.10.27-change-air-filter-on-2013-2018-5th-generation-nissan-altima
Redirect 301 /configure-etckeeper-gitlab /technology/2018.05.15-configure-etckeeper-with-gitlab
Redirect 301 /faq-frequently-asked-questions /404.html
Redirect 301 /install-home-assistant-ubuntu-1604-vm-almost-engineered-tech /technology/2018.03.13-install-home-assistant-on-ubuntu-16.04-vm
Redirect 301 /install-seven-square-ubuntu /technology/2018.07.14-install-seven-square-on-ubuntu
Redirect 301 /markdown-my-words /technology/2019.07.23-markdown-my-words
Redirect 301 /manual-tree-branch-tear-down /gardening/2019.03.16-manual-tree-branch-tear-down
Redirect 301 /set-gecko-driver-ubuntu /technology/2019.04.05-set-up-gecko-driver-on-ubuntu
Redirect 301 /squirrels-taught-me-about-women-and-food /lifestyle/2019.07.03-squirrels-taught-me-about-women-and-food
Redirect 301 /7-steps-more-steps /lifestyle/2019.05.09-7-steps-for-more-steps
Redirect 301 /uninstall-plex-media-server-ubuntu-1604-almost-engineered-tech /technology/2018.04.10-uninstall-plex-media-server-from-ubuntu-16.04
Redirect 301 /hdmi-sound-ubuntu-shuttle-ds61 /technology/2015.11.21-hdmi-sound-on-ubuntu-with-shuttle-ds61
Redirect 301 /install-openwrt-linksys-wrt1900ac-v1 /technology/2016.07.14-install-openwrt-on-linksys-wrt1900ac-v1
Redirect 301 /copying-infested-code /technology/2019.09.05-copying-infested-code
Redirect 301 /use-twitter-and-rules-farmos-notifications /technology/2018.02.13-use-twitter-and-rules-for-farmos-notifications
Redirect 301 /use-twitter-and-rules-farmos-notifications-almost-engineered-tech /technology/2018.02.13-use-twitter-and-rules-for-farmos-notifications
Redirect 301 /drupal-8-tutorial-series-0 /technology/2019.02.27-drupal-8-tutorial-series

# redirects for 2021-11-24 update
Redirect 301 /cookbook/2020-09-07-dutch-oven-chicken /lifestyle/000-2020-09-07-dutch-oven-chicken
Redirect 301 /cookbook/bakedbacon /lifestyle/000-bakedbacon
Redirect 301 /cookbook/cheesedip /lifestyle/000-cheesedip
Redirect 301 /cookbook/crockpot-baby-back-ribs /lifestyle/000-crockpot-baby-back-ribs
Redirect 301 /cookbook/crockpot-bbq-pulled-pork /lifestyle/000-crockpot-bbq-pulled-pork
Redirect 301 /cookbook/crockpot-beef-bourguignon /lifestyle/000-crockpot-beef-bourguignon
Redirect 301 /cookbook/crockpot-beef-stew /lifestyle/000-crockpot-beef-stew
Redirect 301 /cookbook/crockpot-chicken-cacciatore /lifestyle/000-crockpot-chicken-cacciatore
Redirect 301 /cookbook/crockpot-chili /lifestyle/000-crockpot-chili
Redirect 301 /cookbook/crockpotcollards /lifestyle/000-crockpotcollards
Redirect 301 /cookbook/crockpot-easy-healthy-fish-fillet /lifestyle/000-crockpot-easy-healthy-fish-fillet
Redirect 301 /cookbook/crockpot-lemon-herb-roasted-chicken /lifestyle/000-crockpot-lemon-herb-roasted-chicken
Redirect 301 /cookbook/crockpot-pot-roast /lifestyle/000-crockpot-pot-roast
Redirect 301 /cookbook/crockpot-sausage-and-meatballs /lifestyle/000-crockpot-sausage-and-meatballs
Redirect 301 /cookbook/diyhamburgerhelper /lifestyle/000-diyhamburgerhelper
Redirect 301 /cookbook/eggtacos /lifestyle/000-eggtacos
Redirect 301 /cookbook/grilledcorn /lifestyle/000-grilledcorn
Redirect 301 /cookbook/grilledporkribs /lifestyle/000-grilledporkribs
Redirect 301 /cookbook/hamburgersgrilled /lifestyle/000-hamburgersgrilled
Redirect 301 /cookbook/hotpeppersauce /lifestyle/000-hotpeppersauce
Redirect 301 /cookbook/loadedhashbrowns /lifestyle/000-loadedhashbrowns
Redirect 301 /cookbook/nopreheatchicken /lifestyle/000-nopreheatchicken
Redirect 301 /cookbook/sweetpotatopie /lifestyle/000-sweetpotatopie
Redirect 301 /cookbook/tzatzikisauce /lifestyle/000-tzatzikisauce
Redirect 301 /cookbook/wholebakedchicken /lifestyle/000-wholebakedchicken
Redirect 301 /ecobeestatus /projects/ecobeestatus
Redirect 301 /falconpitwitter /projects/falcon-pi-twitter
Redirect 301 /gardening/2018-01-19-snowfall-timelapse-in-montgomery,-al-january-16-17,-2018 /lifestyle/2018-01-19-snowfall-timelapse-in-montgomery,-al-january-16-17,-2018
Redirect 301 /gardening/2019-02-23-every-gardener-needs-a-journal /lifestyle/2019-02-23-every-gardener-needs-a-journal
Redirect 301 /gardening/2019-03-04-greens-from-the-winter-garden /lifestyle/2019-03-04-greens-from-the-winter-garden
Redirect 301 /gardening/2019-03-11-building-raised-garden-beds /lifestyle/2019-03-11-building-raised-garden-beds
Redirect 301 /gardening/2019-03-11-sow,-a-planting-companion /lifestyle/2019-03-11-sow,-a-planting-companion
Redirect 301 /gardening/2019-03-16-manual-tree-branch-tear-down /lifestyle/2019-03-16-manual-tree-branch-tear-down
Redirect 301 /gardening/2019-03-19-containers-vs-in-ground-gardening /lifestyle/2019-03-19-containers-vs-in-ground-gardening
Redirect 301 /gardening/2019-04-10-how-to-start-a-garden-in-8-steps /lifestyle/2019-04-10-how-to-start-a-garden-in-8-steps
Redirect 301 /gardening/2019-12-22-you-still-rake-leaves /lifestyle/2019-12-22-you-still-rake-leaves
Redirect 301 /gardening/2019-12-29-greens-in-grass /lifestyle/2019-12-29-greens-in-grass
Redirect 301 /gardening/2020-01-25-january-2020-garden-update /lifestyle/2020-01-25-january-2020-garden-update
Redirect 301 /gardening/2020-06-24-lsu-ag-gardening-course-module-5 /lifestyle/2020-06-24-lsu-ag-gardening-course-module-5
Redirect 301 /gardening/2021-02-09-starting-the-garden-for-spring /lifestyle/2021-02-09-starting-the-garden-for-spring
Redirect 301 /gardening/2021-02-26-growing-without-planting-seeds /lifestyle/2021-02-26-growing-without-planting-seeds
Redirect 301 /gardening/2021-05-03-garden-update /lifestyle/2021-05-03-garden-update
Redirect 301 /gardening/2021-06-01-june-2021-weather /lifestyle/2021-06-01-june-2021-weather
Redirect 301 /gardening/2021-06-30-latest-pickings-from-garden /lifestyle/2021-06-30-latest-pickings-from-garden
Redirect 301 /gardening/2021-07-01-july-2021-weather /lifestyle/2021-07-01-july-2021-weather
Redirect 301 /gardening/2021-08-01-august-2021-weather /lifestyle/2021-08-01-august-2021-weather
Redirect 301 /gardening/2021-09-01-september-2021-weather /lifestyle/2021-09-01-september-2021-weather
Redirect 301 /gardening/2021-10-01-october-2021-weather /lifestyle/2021-10-01-october-2021-weather
Redirect 301 /gardening/2021-11-01-november-2021-weather /lifestyle/2021-11-01-november-2021-weather
Redirect 301 /gardening/2021august-weather.csv /lifestyle/2021august-weather.csv
Redirect 301 /gardening/2021july-weather.csv /lifestyle/2021july-weather.csv
Redirect 301 /gardening/2021june-weather.csv /lifestyle/2021june-weather.csv
Redirect 301 /gardening/2021november-weather.csv /lifestyle/2021november-weather.csv
Redirect 301 /gardening/2021october-weather.csv /lifestyle/2021october-weather.csv
Redirect 301 /gardening/2021september-weather.csv /lifestyle/2021september-weather.csv
Redirect 301 /handyman/2018.01.20-1-year-review-of-liftmaster-8500-with-myq-internet-gateway /lifestyle/2018.01.20-1-year-review-of-liftmaster-8500-with-myq-internet-gateway-handyman
Redirect 301 /handyman/2018.07.21-how-to-replace-toilet-gasket-and-bolts /lifestyle/2018.07.21-how-to-replace-toilet-gasket-and-bolts-handyman
Redirect 301 /handyman/2018.10.27-change-air-filter-on-2013-2018-5th-generation-nissan-altima /lifestyle/2018.10.27-change-air-filter-on-2013-2018-5th-generation-nissan-altima-handyman
Redirect 301 /handyman/2018.11.03-make-your-crockpot-smarter-with-a-timer /lifestyle/2018.11.03-make-your-crockpot-smarter-with-a-timer-handyman
Redirect 301 /handyman/2019.02.09-remove-water-from-car-trunk /lifestyle/2019.02.09-remove-water-from-car-trunk-handyman
Redirect 301 /handyman/2019.04.27-weber-charcoal-chimney-review-and-first-use /lifestyle/2019.04.27-weber-charcoal-chimney-review-and-first-use-handyman
Redirect 301 /handyman/2019.05.02-4-steps-to-change-the-battery-in-nissan-altima-intelligent-key /lifestyle/2019.05.02-4-steps-to-change-the-battery-in-nissan-altima-intelligent-key-handyman
Redirect 301 /handyman/2019.06.11-identify-electrical-circuits-and-label-breaker-panel /lifestyle/2019.06.11-identify-electrical-circuits-and-label-breaker-panel-handyman
Redirect 301 /handyman/2019.07.30-reinforce-bookcase-with-plywood /lifestyle/2019.07.30-reinforce-bookcase-with-plywood-handyman
Redirect 301 /handyman/2020.03.15-8-steps-to-replace-a-toilet-fill-valve /lifestyle/2020.03.15-8-steps-to-replace-a-toilet-fill-valve-handyman
Redirect 301 /handyman/2020.05.02-replacing-exterior-trim /lifestyle/2020.05.02-replacing-exterior-trim-handyman
Redirect 301 /handyman/2020.07.12-ceiling-fan-installation-with-downrod /lifestyle/2020.07.12-ceiling-fan-installation-with-downrod-handyman
Redirect 301 /handyman/2020.07.21-front-yard-landscaping /lifestyle/2020.07.21-front-yard-landscaping-handyman
Redirect 301 /handyman/2020.08.08-build-firewood-stand /lifestyle/2020.08.08-build-firewood-stand-handyman
Redirect 301 /handyman/2020.08.08-replacing-contactor-on-air-conditioner /lifestyle/2020.08.08-replacing-contactor-on-air-conditioner-handyman
Redirect 301 /handyman/2020.08.15-what-is-a-contactor-how-does-a-contactor-work /lifestyle/2020.08.15-what-is-a-contactor-how-does-a-contactor-work-handyman
Redirect 301 /handyman/2021.01.30-monitor-stand-build /lifestyle/2021.01.30-monitor-stand-build-handyman
Redirect 301 /handyman/2021.02.20-diy-honeywell-wifi-thermostat-installation /lifestyle/2021.02.20-diy-honeywell-wifi-thermostat-installation-handyman
Redirect 301 /handyman/2021.03.06-tv-mounting-for-handy /lifestyle/2021.03.06-tv-mounting-for-handy-handyman
Redirect 301 /handyman/2021.03.20-painting-doorbell-cover-for-better-appearance /lifestyle/2021.03.20-painting-doorbell-cover-for-better-appearance-handyman
Redirect 301 /handyman/2021.04.03-trex-and-tomcat-rat-trap-product-review /lifestyle/2021.04.03-trex-and-tomcat-rat-trap-product-review-handyman
Redirect 301 /handyman/2021.04.17-installing-ecobee-3-lite-thermostat,-uninstall-and-reinstall /lifestyle/2021.04.17-installing-ecobee-3-lite-thermostat,-uninstall-and-reinstall-handyman
Redirect 301 /handyman/2021.05.01-grass-cutting-job-as-handy-pro /lifestyle/2021.05.01-grass-cutting-job-as-handy-pro-handyman
Redirect 301 /handyman/2021.06.05-star-space-executive-office-chair-review-and-assembly /lifestyle/2021.06.05-star-space-executive-office-chair-review-and-assembly-handyman
Redirect 301 /handyman/2021.06.12-pro-tower-machine-assembly /lifestyle/2021.06.12-pro-tower-machine-assembly-handyman
Redirect 301 /internetmonitor /projects/internet-monitor
Redirect 301 /links /technology/links
Redirect 301 /speaking /
Redirect 301 /speaking/2017.09.21-build-web-application-without-coding-using-drupal-7 /technology/2017.09.21-build-web-application-without-coding-using-drupal-7
Redirect 301 /speaking/2020.02.29-linux-training-session /technology/2020.02.29-linux-training-session
Redirect 301 /speaking/2020.03.06-linux-training-session-april-2020 /technology/2020.03.06-linux-training-session-april-2020
Redirect 301 /speaking/2020.03.22-coding-session-with-java-and-selenium-webdriver /technology/2020.03.22-coding-session-with-java-and-selenium-webdriver
Redirect 301 /thermometerpi /projects/thermometer-pi
Redirect 301 /trafficpi /projects/traffic-pi
Redirect 301 /update-static-website /technology/2020.10.04-update-static-website


# Prevent Apache from serving .htaccess files:
<FilesMatch "^\.htaccess">
    Order allow,deny
    Deny from all
</FilesMatch>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/... will be redirected to http://www.example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment the following:
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # redirect to HTTPS if HTTP
  # RewriteCond %{SERVER_PORT} 80
  # RewriteRule ^(.*)$ https://thealmostengineer.com [L,R=301]
  RewriteCond %{https} off
  RewriteRule ^(.*)$ https://thealmostengineer.com/$1 [R=301,L]
</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType image/x-icon "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/javascript "access 1 month"
ExpiresByType text/html "access 1 day"
ExpiresByType text/php "access 1 day"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType application/javascript "access 1 month"
ExpiresByType application/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresDefault "access 1 day"
</IfModule>
## EXPIRES CACHING ##

## Compression
<IfModule mod_deflate.c>
AddType x-font/woff .woff
AddType x-font/ttf .ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE x-font/ttf
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/opentype font/ttf font/eot font/otf
</IfModule>

<IfModule mod_headers.c>
Header set Expires "max-age=A10368000, public"
Header unset ETag
Header set Connection keep-alive
FileETag None
</IfModule>

# disable the server signature
ServerSignature Off

# disable directory browsing
Options All -Indexes
