{% extends "base.html" %}

{% block content %}

<h1 class="text-center">
    Uh oh... Looks like you have a bad heating element.
</h1>

<p>&nbsp;</p>

<h2 id="404-page-not-found" class="text-center">
    The page you are looking for does not exist.
</h2>

<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-12 col-lg-6">
        <p>
            Here are some helpful links to get you back cooking:
        </p>

        <ul>
            <li>Curious about what we do, then check out the <a href="/services">Services page</a>.</li>
            <li>You have questions. We have answers. Ask away on our <a href="contact.php">Contact page</a>.</li>
            <li>We post videos you can watch and photos you can view of our work on our 
                <a href="https://www.facebook.com/rhtservicesllc" target="_blank">Facebook</a>,
                <a href="https://www.instagram.com/rhtservicesllc" target="_blank">Instagram</a>,
                and
                <a href="https://www.youtube.com/c/RobinsonHandyandTechnologyServices?sub_confirmation=1"   
                    target="_blank">YouTube</a> pages.
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-lg-6">
        <img src="/images/services/ovenburnerreplacement20220203_213032.jpg" alt="Oven Burner Replaced" />
    </div>
</div>

{% endblock %}