{% for nav_item in nav %}
{% if nav_item.children and page %}
{% for nav_item in nav_item.children | reverse %}

{% if 'articles' in nav_item.url and 'Articles and Latest Work' not in nav_item.title %}
<div class="col-sm-12 mx-2">
    <div class="row border rounded overflow-hidden mb-4 shadow">
        <div class="col p-2">
            <h3 class="text-truncate">
                <a href="/{{ nav_item.url }}" class="text-decoration-none">{{ nav_item.title | title }}</a>
            </h3>
            <div class="text-muted">
                {% if nav_item.meta.posted %}
                <span>{{ nav_item.meta.posted }} |</span>
                {% endif %}

                <span title="{{ nav_item.content | wordcount }} words">
                    {%- set num_of_words = nav_item.content | striptags | wordcount // 200 -%}
                    {% if num_of_words <= 1 %}1 {% else %} {{ num_of_words }} {% endif %} minute read </span>
            </div>
            <div>
                {% if nav_item.meta.description %}
                {{ nav_item.meta.description }}
                {% else %}
                {{ nav_item.content | striptags | truncate(250,false) }}
                {% endif %}
            </div>
        </div>
        {% if nav_item.meta.image %}
        <div class="col-sm-12 col-md-4 bg-dark text-center vertical-text-center rounded">
            <img src="{{ nav_item.meta.image }}" alt="{{ nav_item.meta.imagealt }}" class="py-2">
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% endfor %}
{% endif %}
{% endfor %}