<h3 class="text-center text-light font-weight-bold pb-2">{{ page.meta.title | upper }} OFFERED IN</h3>
{% for nav_item in nav %}
{% if nav_item.children and page %}
{% for nav_item in nav_item.children %}
{% if "service-areas/" in nav_item.url and nav_item.meta.favorite == true and page %}
<div class="row text-white">
    <div class="col-2 text-right">
        <i class="bi bi-geo-alt-fill"></i>
    </div>
    <div class="col">
        <a class="text-white" href="{{ nav_item.url | url }}">{{ nav_item.meta.cityname }}</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
<h3 class="text-center text-white pt-4 font-weight-bold">COVERAGE MAP</h3>
<div class="pb-4">
    <a href="/images/service_area.full.jpg">
        <img class="rounded" src="/images/service_area.jpg" alt="View service areas map">
    </a>
</div>