<div class="container">
    <div class="row">
        <div class="col-12 col-sm-9">
            {%- block content %}
            {% if page and page.url == "search/" %}
            {% include "_search.html" %}
            {% endif %}
            {{ page.content }}
            {%- endblock %}
        </div>
        <div class="col-12 col-sm-3"><aside class="blog-sidebar">
    <div class="p-4 mb-3 rounded shadow">
        <h4 class="font-italic">About Kenny</h4>
        <p class="mb-0">
            Kenny is a software developer that
            streamlines business processes and improving efficiency with innovative web applications and websites.
        </p>
    </div>
    <div class="p-4 shadow mb-3">
        <h4 class="font-italic">Get Into Tech</h4>
        <p class="mb-0">
            Are you looking to get into a tech career or role? Check out the
            <a href="/resources">Resources</a> section for more information. Also check out my
            <a href="https://www.youtube.com/channel/UC4xp-TEEIAL-4XtMVvfRaQw?sub_confirmation=1" target="_blank">
                YouTube Channel</a> and
            <a href="https://www.facebook.com/profile.php?id=100089303142244" target="_blank">Facebook page</a> for
            video tutorials about software development, web development,
            and working with tech.
            </a>
        </p>
    </div>
    <div class="p-4 shadow mb-3">
        <h4 class="font-italic">Connect with Me</h4>
        <ol class="list-unstyled">
            <li><a target="_blank" href="https://bsky.app/profile/almostengr.bsky.social">Blue Sky</a></li>
            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100089303142244">Facebook</a>
            <li><a target="_blank" href="https://github.com/almostengr">Github</a></li>
            <li><a target="_blank" href="https://instagram.com/almostengr">Instagram</a></li>
            <li><a target="_blank"
                    href="https://www.youtube.com/channel/UCB7rvymUaUbbig3skv2zvCQ?sub_confirmation=1">Kenny Ram Dash
                    Cam</a>
            </li>
            <li><a target="_blank" href="/latest.xml">RSS Latest Feed</a></li>
            <li><a target="_blank" href="https://stackoverflow.com/users/12875554/almostengr">StackOverflow</a></li>
            </li>
            <li><a target="_blank" href="https://www.tiktok.com/@almostengr">TikTok</a></li>
            <li><a target="_blank" href="https://twitter.com/almostengr">Twitter</a></li>
            <li><a target="_blank"
                    href="https://www.youtube.com/channel/UC4xp-TEEIAL-4XtMVvfRaQw?sub_confirmation=1">YouTube</a></li>
        </ol>
    </div>
    <div class="p-4 shadow mb-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4218270188842097"
            data-ad-slot="5189305512" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</aside><!-- /.blog-sidebar -->
        </div>
    </div>
</div>