{% for message in config.theme.homemessage %}
<section class="{{ message.bgcolor }} {{ message.textcolor }} py-4 homemessage">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pb-2 pl-4">
                <h4 class="font-weight-bold">{{ message.heading }}</h4>
                <p>{{ message.detail }}</p>
            </div>
        </div>
    </div>
</section>
{% endfor %}

<div class="text-center py-5 bg-dark text-warning shadow-lg">
    <div class="py-3">&nbsp;</div>
    <h1 class="display-3 rounded font-weight-bold">Get It Done, Without Hassle</h1>
    <div class="px-2">
        Providing handyman and technology services to homeowners and businesses in Montgomery,
        the River Region, and surrounding communities.
    </div>
    <div class="py-3">&nbsp;</div>
</div>


<div class="container">
    <h2 class="text-center pt-4" style="font-size: 4rem;" id="services">Our Services</h2>

    <div class="album pb-2 bg-light">
        <div class="row">
            {% for nav_item in nav %}
            {% if nav_item.children and page %}
            {% for nav_item in nav_item.children %}
            {% if "services" in nav_item.url and nav_item.meta.favorite == true %}
            <div class="col-sm-12 col-md-6 col-lg-3 mb-3 px-1">
                <div class="card shadow-sm h-100">
                    <a href="{{ nav_item.url | url }}">
                        <img src="{{ nav_item.meta.thumbnail }}" alt="{{ nav_item.title }}" class="card-img-top" />
                    </a>
                    <div class="card-header bg-white">
                        <h3 class="text-center">
                            <a href="{{ nav_item.url | url }}" class="text-decoration-none">
                                {{ nav_item.title }}
                            </a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ nav_item.meta.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}

            <div class="col-sm-12 col-md-6 col-lg-3 mb-3 px-1">
                <div class="card shadow-sm h-100">
                    <a href="/services">
                        <img src="/images/services/pooltable20220204_213947.thumb.jpg" alt="All Services"
                            class="card-img-top" />
                    </a>
                    <div class="card-header bg-white">
                        <h3 class="card-title text-center">
                            <a class="text-decoration-none" href="/services">All Services</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            We offer a variety of other services to customers in the River Region in
                            Alabama.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mx-3 mt-5" />
    <h2 class="text-center" style="font-size: 4rem;" id="about">About Us</h2>

    <div class="bg-light text-dark" id="about">
        <div class="mx-0 row row-cols-lg-3 row-cols-sm-12 py-3 px-1">
            <div class="col-sm-12 col-lg-4 py-2">
                <div class="card shadow-lg h-100 px-0">
                    <div class="card-header bg-warning text-dark">
                        <h3 class="text-center font-weight-bold">What We Do</h3>
                    </div>
                    <div class="card-body text-center">
                        <p class="text-center px-2">
                            Robinson Handy and Technology Services
                            provides handyman and technology services to the Montgomery, Alabama and the
                            River Region areas.
                            Robinson Handy and Technology Services is dedicated to getting the job done right!
                        </p>
                        <div class="embed-responsive embed-responsive-16by9 mb-3">
                            <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/wldVFh1gHgI&autostart=1" loading="lazy"
                                allowfullscreen
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href='https://www.youtube.com/embed/wldVFh1gHgI?autoplay=1'><img src='https://img.youtube.com/vi/wldVFh1gHgI/hqdefault.jpg'><span class='text-danger'>&#9658;</span></a>"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 py-2">
                <div class="card shadow-lg h-100 px-0">
                    <div class="card-header bg-warning text-dark">
                        <h3 class="text-center font-weight-bold">Our Service Areas</h3>
                    </div>
                    <div class="card-body text-center">
                        <p class="text-center px-2">
                            We are based in <a href="/services-areas/montgomery">Montgomery, Alabama</a> and
                            primarily provide services in
                            <a href="/service-areas/prattville">Autauga</a>,
                            <a href="/service-areas/millbrook">Elmore</a>, and
                            <a href="/service-areas/montgomery">Montgomery</a>&nbsp;Counties in Alabama.
                            This includes cities and communities of
                            <a href="/service-areas/autaugaville">Autaugaville</a>,
                            <a href="/service-areas/elmore">Elmore</a>,
                            <a href="/service-areas/millbrook">Millbrook</a>,
                            <a href="/service-areas/montgomery">Montgomery</a>,
                            <a href="/service-areas/pikeroad">Pike&nbsp;Road</a>,
                            <a href="/service-areas/pinelevel">Pine&nbsp;Level</a>,
                            <a href="/service-areas/prattville">Prattville</a>,
                            <a href="/service-areas/tallassee">Tallassee</a>,
                            and&nbsp;<a href="/service-areas/wetumpka">Wetumpka</a>.
                        </p>
                        <div class="text-center">
                            <a href="/images/service_area.full.jpg">
                                <img src="/images/service_area.jpg" alt="View service areas map">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 py-2">
                <div class="card shadow-lg h-100 px-0">
                    <div class="card-header bg-warning text-dark">
                        <h3 class="text-center font-weight-bold">Connect With Us!</h3>
                    </div>
                    <div class="card-body text-center">
                        <p class="text-center px-2">
                            We share tips on how you can do the job yourself as well as showing how we
                            get the job done. Please follow our social media pages to see our latest
                            work and updates.
                        </p>
                        <p>
                            <a href="https://facebook.com/rhtservicesllc" target="_blank"
                                class="text-decoration-none btn btn-secondary p-3 w-100">
                                <i class="bi bi-facebook"></i> Facebook</a>
                        </p>
                        <p>
                            <a href="https://instagram.com/rhtservicesllc" target="_blank"
                                class="text-decoration-none btn btn-secondary p-3 w-100">
                                <i class="bi bi-instagram"></i> Instagram</a>
                        </p>
                        <p>
                            <a href="https://www.youtube.com/c/RobinsonHandyandTechnologyServices?sub_confirmation=1"
                                target="_blank" class="text-decoration-none btn btn-secondary p-3 w-100">
                                <i class="bi bi-youtube"></i> YouTube</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mx-3 mt-5" />
    <h2 class="text-center" id="reviews" style="font-size: 4rem;">Customer Reviews</h2>

    <div class="text-dark bg-light text-center">
        <div class="row mx-0 p-3">
            {% for review in config.theme.reviews %}
            <div class="col-sm-12 col-lg-4 pb-3">
                <div class="card shadow-lg h-100 m-1">
                    <div class="card-body">
                        {{ review.text }}
                    </div>
                    <div class="card-footer px-1 bg-warning">
                        {{ review.source }}<br />
                        {{ review.date }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <hr class="mx-3 mt-5" />
    <h2 class="text-center" id="contact" style="font-size: 4rem;">Contact Us</h2>

    <div class="text-dark bg-light text-center">
        <div class="row mx-0 p-3">
            <div class="col-sm-12 col-lg-6">
                <h3 class="text-center">Ready to get started?</h3>
                <p class="">
                    We can help you get started with your next project.
                    Have questions about what you have seen here?
                </p>
                <h3 class="text-center">Have questions about our work?</h3>
                <p>
                    Feel free to contact us using the chat box
                    in the lower right of the screen, call us, or text us.
                </p>
                <p>
                    <a class="font-weight-bold rounded py-2 btn btn-secondary w-100" href="/contact.php"><i
                            class="bi bi-receipt"></i> Request Estimate</a>
                </p>
                <p>
                    <a class="font-weight-bold rounded py-2 btn btn-secondary w-100" href="tel:(334) 595-9690">
                        <i class="bi bi-telephone"></i> Call or Text <i class="bi bi-chat-left-text"></i>
                        <br />(334)&nbsp;595-9690</a>
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <a href="/services/kitchenisland20220204_213741.jpg">
                    <img src="/images/services/kitchenisland20220204_213741.jpg"
                        alt="Kitchen island assembled for a customer">
                </a>
            </div>
        </div>
    </div>
</div>
</div>
