<!doctype html>
<html lang="en_US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="author" content="{{ config.site_author }}">
  <meta name="robots" content="index, follow" />

  {% if page and page.meta.redirect %}
  <meta http-equiv="refresh" content="1; url={{ page.meta.redirect }}" />
  {% endif %}

  {% if page and page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}">
  <meta property="og:description" content="{{ page.meta.description }}" />
  <meta name="twitter:description" content="{{ page.meta.description }}" />
  {% elif config.site_description %}
  <meta name="description" content="{{ config.site_description }}">
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  {% endif %}

  {% block title %}
  {% if page and page.meta.title %}
  <title>{{ page.meta.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.meta.title }}" />
  <meta name="twitter:title" content="{{ page.meta.title }}" />
  {% elif page and page.title %}
  <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.title | striptags }}" />
  <meta name="twitter:title" content="{{ page.title | striptags }}" />
  {% else %}
  <title>{{ config.site_name }}</title>
  <meta property="og:title" content="{{ striptags }}" />
  <meta name="twitter:title" content="{{ striptags }}" />
  {% endif %}
  {% endblock %}

  {% if page and page.meta.image %}
  <meta property="og:image" content="{{ page.meta.image | url }}" />
  <meta name="twitter:image" content="{{ page.meta.image | url }}" />
  {% endif %}

  {% if page and page.meta.keywords %}
  <meta name="keywords" content="{{ page.meta.keywords }}" />
  {% else %}
  <meta name="keywords"
    content="montgomery, alabama, handyman, technology, repairs, minority owned, black owned, technology services, handyman services, home repairs, house repairs, furniture assembly, tv mounting, handyman montgomery al, handyman services in montgomery alabama, handyman prattville al, handyman wetumpka al, handyman millbrook al" />
  {% endif %}

  {% if 'articles' in page.url %}
  <meta property="og:type" content="article" />
  <meta property="og:type:article:author" content="{{ config.site_author }}">
  <meta property="og:type:article:published_time" content="{{ page.meta.posted }}">
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}

  {% if page and page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url | url }}">
  <meta property="og:url" content="{{ page.canonical_url | url }}" />
  <meta property="twitter:url" content="{{ page.canonical_url | url }}" />
  {% endif %}

  {% if page and 'articles' in page.url %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4218270188842097"
    crossorigin="anonymous"></script>
  {% endif %}

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1TEYPEZ2YY"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-1TEYPEZ2YY');</script>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/style.min.css">

  {% if page and page.url == "links/" %}
  <link rel="stylesheet" href="/css/links.min.css">
  {% endif %}

  {% if config.theme.site_favicon %}
  <link rel="shortcut icon" href="{{ config.theme.site_favicon | url }}">
  {% endif %}
</head>

<body class="bg-light">
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script defer async>
    window.fbAsyncInit = function () { FB.init({ xfbml: true, version: 'v10.0' }); }; (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-customerchat" attribution="setup_tool" page_id="105211041648889" theme_color="#ffc107">
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top {{ config.theme.mainnav.bgcolor }}">
    <a class="navbar-brand" href="/">
      {% if config.theme.site_favicon %}
      <img src="{{ config.theme.site_favicon | url }}" alt="Robinson Handy and Technology Services logo">
      {% endif %}
      <span class="d-lg-none">{{ config.theme.site_name_short }}</span>
      <span class="d-none d-lg-inline">{{ config.site_name }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="text-white">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto pr-2">
        {% for link in config.theme.mainnav.links %}
        {% if link.button == false %}
        <li class="nav-item">
          <a class="nav-link {{ config.theme.mainnav.linkcolor }}" href="{{ link.url | url }}">{{ link.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% for link in config.theme.mainnav.links %}
      {% if link.button == true %}
      <a href="{{ link.url }}">
        <button class="btn {{ config.theme.mainnav.buttoncolor }} mr-2 my-2 my-sm-0 rounded">{{ link.name }}</button>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
  <main role="main" class="bg-light">
    {% for message in config.theme.sitemessage %}
    {% if page and 'articles' not in page.url %}
    <section class="{{ message.bgcolor }} {{ message.textcolor }} py-4 sitemessage">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pb-2 pl-4">
            <h4>{{ message.heading }}</h4>
            <p>{{ message.detail }}</p>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    {% endfor %}

    {% if page and page.is_homepage %}
    {% include "_homepage.html" %}
    
    {% elif page and page.url == "links/" %}
    {% include "_links.html" %}
    
    {% else %}
    <div class="container p-3">
      {%- block content %}

      <div class="row">
        <div class="bloglist col-sm-12 col-md-9 pr-3" id="pagecontent">
          <h1 id="title">{{ page.meta.title }}</h1>

          <p class="text-center blog-post-meta text-secondary font-italics">
            {% if page and page.meta.posted %}
            a {%- set num_of_words = page.content | wordcount // 200 -%}
            {% if num_of_words <= 1 %} 1 {% else %} {{ num_of_words }} {% endif %} minute read {% endif %} {% if
              page.meta.youtubeEmbed and page.meta.posted %}with video{% endif %} {% if page and page.meta.posted %}
              posted on {{ page.meta.posted }} {% endif %} {% if page and page.meta.updated %} last updated on {{
              page.meta.updated }} {% endif %} {% if page and page.meta.category %} under {{ page.meta.category | title
              }} {% endif %} </p>

              {% include "_youtubeEmbed.html" %}

              {{ page.content }}

              {% if page and page.url == "articles/" %}
              {% include "_bloglisting.html" %}
              {% endif %}

              {% if page and page.url == "services/" %}
              {% include "_services.html" %}
              {% endif %}

              {% if page and "services/" in page.url and page.url != "services/" %}
              <a href="/services">&lt;- Back to All Services</a>
              {% endif %}

              {% if page.meta.keywords %}
              <div class="mb-3" id="keywords">
                <strong>Keywords:</strong>
                {% set keywordArray = page.meta.keywords.split(',') %}
                {% for keyword in keywordArray %}
                <a href="https://www.google.com/search?q=site:rhtservices.net+{{ keyword }}">{{ keyword }}</a>
                {% endfor %}
              </div>
              {% endif %}

              {% if page and page.meta.citynarrative %}
              {% include "_city.html" %}
              {% endif %}

              {% if page and page.url == "articles/" %}
              <div class="mb-3">
                {% include "_sponsorarticle.html" %}
              </div>
              {% endif %}
        </div>

        <div class="col-sm-12 col-md-3 bg-dark rounded border border-warning py-3">
          {% if page and "services/" not in page.url %}
          {% include "_citysidebar.html" %}
          {% else %}
          {% include "_serviceareasidebar.html" %}
          {% endif %}
        </div>
        {%- endblock %}

      </div>
      {% endif %}

  </main>
  {% for section in config.theme.subfooter %}
  <section
    class="{{ section.bgcolor }} {{ section.textcolor }} subfooter {% if page and page.meta.presentation %} d-none {% endif %}">
    <div class="px-3 text-left py-3">
      <div class="row">

        <div class="col-sm-12 col-md-3">
          <h4 class="px-2 subfooterheader {{ section.headercolor }}">Service Areas</h4>
          <ul class="list-unstyled mx-3">
            {% for nav_item in nav %}
            {% if nav_item.children and page %}
            {% for nav_item in nav_item.children %}
            {% if "service-areas/" in nav_item.url and nav_item.meta.favorite == true and page %}
            <li class="mb-2">
              <i class="bi bi-geo-alt-fill"></i>
              <a href="{{ nav_item.url | url }}" class="text-white">{{ nav_item.meta.cityname }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <li class="mb-2">
              <i class="bi bi-geo-alt-fill"></i>
              <a href="/service-areas" class="text-white">All Service Areas</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-3">
          <h4 class="px-2 subfooterheader {{ section.headercolor }}">Popular Services</h4>
          <ul class="list-unstyled mx-3">
            {% for nav_item in nav %}
            {% if nav_item.children and page %}
            {% for nav_item in nav_item.children %}
            {% if "services" in nav_item.url and nav_item.meta.favorite == true %}
            <li class="mb-2">
              <i class="bi bi-hammer"></i>
              <a href="{{ nav_item.url }}" class="text-white">{{ nav_item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <li class="mb-2">
              <i class="bi bi-hammer"></i>
              <a href="/services/" class="text-white">All Services</a>
            </li>
          </ul>
        </div>

        {% for column in section.columns %}
        <div class="col-sm-12 col-md-3">
          <h4 class="px-2 subfooterheader {{ section.headercolor }}">{{ column.heading }}</h4>
          <ul class="list-unstyled mx-3">
            {% for item in column.links %}
            <li class="mb-2">
              {% if item.icon %}
              <i class="{{ item.icon }}"></i>
              {% endif %}
              {% if item.url %}
              <a href="{{ item.url | url }}" {% if "http" in item.url %} target="_blank" {% endif %}
                class="{{ section.textcolor }}">{{ item.name}}</a>
              {% else %}
              {{ item.name }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endfor %}
  {% for section in config.theme.footer %}
  <footer
    class="{{ section.bgcolor }} {{ section.textcolor }} {% if page and page.meta.presentation %} d-none {% endif %}">
    <div class="container text-center py-3">
      <div class="col-sm-12">
        &copy; Copyright 2021-{{ build_date_utc.strftime("%Y") }} {{ config.copyright }}
        {% for link in section.links %}
        | <a href="{{ link.url | url }}">{{ link.name }}</a>
        {% endfor %}
      </div>
      <div class="col-sm-12">
        Website developed by
        <a href="https://rhtservices.net" target='_blank'>Robinson Handy and Technology Services LLC</a>
      </div>
      <!-- Last updated: {{ build_date_utc }} -->
    </div>
  </footer>
  {% endfor %}
  <script src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
