<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ config.site_description }}">
  <meta name="author" content="{{ config.site_author }}">

  {% if page and page.title %}
  <title>{{ page.title | striptags }} | The Almost Engineer, the blog of Kenny Robinson</title>
  {% else %}
  <title>The Almost Engineer</title>
  {% endif %}

  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="The Almost Engineer" />
  <meta name="theme-color" content="#712cf9" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ config.theme.social_user }}" />
  <meta name="twitter:creator" content="{{ config.theme.social_user }}" />
  <meta name="robots" content="index, follow" />

  {% if page and page.meta and page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}">
  <meta property="og:description" content="{{ page.meta.description }}" />
  <meta name="twitter:description" content="{{ page.meta.description }}" />
  {% endif %}

  {% if page and page.meta.image %}
  <meta property="og:image" content="{{ page.meta.image | url }}" />
  <meta name="twitter:image" content="{{ page.meta.image | url }}" />
  {% endif %}

  {% if page and page.meta.keywords %}
  <meta name="keywords" content="{{ page.meta.keywords }}" />
  {% endif %}

  {% if page and page.meta.youtube %}
  <meta property="og:video" content="{{ page.meta.youtube | url }}" />
  {% endif %}

  {% if page and page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url | url }}">
  <meta property="og:url" content="{{ page.canonical_url | url }}" />
  <meta property="twitter:url" content="{{ page.canonical_url | url }}" />
  {% endif %}

  {% if page and page.meta.author %}
  <meta name="author" content="{{ page.meta.author }}">
  {% else %}
  <meta name="author" content="{{ config.site_author }}">
  {% endif %}

  {% if page and page.meta.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.meta.redirect }}" />
  {% endif %}
  
  <link rel="canonical" href="https://thealmostengineer.com/{{ page.url }}" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/prism.min.css" rel="stylesheet" />
  <link href="/css/site5.css" rel="stylesheet" />
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="//www.googletagmanager.com/gtag/js?id={{ config.google_analytics[0] }}"></script>
  <script
    async>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-64643711-1');</script>
  </head>
  
  <body>
  {% block content %}
  {% if page and page.meta.redirect %}
  {% include "_redirect.html" %}
  {% else %}
  {% include "_layout.html" %}
  {% endif %}
  {% endblock %}
</body>

</html>