div.content a {
    background-color: var(--dark-red);
    border: #000 solid 4px;
    border-radius: .50em;
    color: #fff;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.10em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

div.content-area a:hover {
    background-color: #fff;
    color: #000;
}

.blog-sidebar
{
    display: none;
}