<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    {% if page and page.meta and page.meta.description %}
      <meta name="description" content="{{ page.meta.description }}">
      <meta property="og:description" content="{{ page.meta.description }}" />
      <meta name="twitter:description" content="{{ page.meta.description }}" />
    {% elif config.site_description %}
      <meta name="description" content="{{ config.site_description }}">
      <meta property="og:description" content="{{ config.site_description }}" />
      <meta name="twitter:description" content="{{ config.site_description }}" />
    {% endif %}

    {% if config.site_author %}
      <meta name="author" content="{{ config.site_author }}">
    {% endif %}

    {% if page and page.meta and page.meta.title %}
      <title>{{ page.meta.title }}</title>
      <meta property="og:title" content="{{ page.meta.title }}" />
      <meta name="twitter:title" content="{{ page.meta.title }}" />
    {% elif page and page.title and not page.is_homepage %}
      <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
      <meta property="og:title" content="{{ page.title | striptags }}" />
      <meta name="twitter:title" content="{{ page.title | striptags }}" />
    {% else %}
      <title>{{ config.site_name }}</title>
      <meta property="og:title" content="{{ config.site_name }}" />
      <meta name="twitter:title" content="{{ config.site_name }}" />
    {% endif %}

    {% if page.meta.image %}
      <meta property="og:image" content="{{ page.meta.image }}" />
      <meta name="twitter:image" content="{{ page.meta.image }}" />
    {% endif %}
    
    <meta property="og:site_name" content="{{ config.site_name }}" />
    <link rel="icon" href="../../../../favicon.ico">
    
    {% if page.canonical_url %}
      <link rel="canonical" href="{{ page.canonical_url }}">
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- google analytics -->
    {% if config.google_analytics %}
      <script>
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
      ga('send', 'pageview');
      </script>
    {% endif %}

    <style type="text/css">
    article a{
      text-decoration: underline;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">{{ config.site_name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% for nav_item in nav %}
            <li class="nav-item {% if nav_item.active%}active{% endif %}">
                <a class="nav-link" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <main role="main" class="container">
      {% if page.is_homepage %}
        <!-- show the jumbotron -->
        {{ page.content }}
      {% else %}
      <div class="row container pt-5">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 pt-3">
          <div class="hidden-print affix well ">
            <nav>
              <ul class="nav">
                {% for toc_item in page.toc %}
                  <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                  {% for toc_item in toc_item.children %}
                    <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
        <div class="container col-sm-12 col-md-12 col-lg-9 col-xl-9">
          <article class="pt-3">
            {{ page.content }}
          </article>
          <!-- AddToAny BEGIN -->
          <p>
            <strong>Share This: </strong> <a class="a2a_dd" href="https://www.addtoany.com/share"><img src="https://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"></a>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
          </p>
          <!-- AddToAny END -->
          <p><a href="#top">Back to Top</a></p>
        </div>
      </div>
      {% endif %}
      <!-- Google AdSense -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-4218270188842097"
          data-ad-slot="5189305512"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </main><!-- /.container -->
    <footer class="container pb-4">
      <hr />
      <div class="container col-12">
        <a href="https://github.com/almostengr" target="_blank">Github</a> |
        <a href="https://instagram.com/almostengr" target="_blank">@almostengr Instagram</a> | 
        <a href="https://linkedin.com/in/krobinsontech" target="_blank">LinkedIn</a> |
        <a href="https://twitter.com/almostengr" target="_blank">@almostengr Twitter</a> |
        <a href="https://www.youtube.com/channel/UC4HCouBLtXD1j1U_17aBqig?sub_confirmation=1" target="_blank">YouTube DIY</a> | 
        <a href="https://www.youtube.com/channel/UCB7rvymUaUbbig3skv2zvCQ?sub_confirmation=1" target="_blank">YouTube Dash Cam</a>
      </div>
      <div class="container col-sm-12">
        Powered by <a href="http://www.mkdocs.org/" target="_blank">MkDocs</a> | 
        <a href="https://github.com/almostengr/almostengrwebsite/issues" target="_blank">Report Problem</a> |
        <a href="/contact" target="_blank">Contact</a> |
        <a href="http://thealmostengineer.com/sitemap.xml">Sitemap</a>
      </div>
      <div class="container col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left">
        {% if config.copyright %} {{ config.copyright }} {%endif%}
      </div>
      <div class="container col-sm-12 col-md-12 col-lg-4 col-xl-4 float-right">
        <strong>Last Modified:</strong> {{ build_date_utc }}
      </div>
      <div class="container col-12">&nbsp;</div>
    </footer>
    <!-- Boostrap and Javascript CDN -->
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
