{{ page.content }}

<ul class="nav nav-tabs nav-fill mx-2 border-secondary">
    <li class="nav-item"><a href="#technology" data-toggle="tab" class="active nav-link">Technology</a></li>
    <li class="nav-item"><a href="#diy" data-toggle="tab" class="nav-link">DIY/Handyman</a></li>
    <li class="nav-item"><a href="#youtube" data-toggle="tab" class="nav-link">YouTube Videos</a></li>
    <li class="nav-item"><a href="#all" data-toggle="tab" class="nav-link">All</a></li>
</ul>
<div class="tab-content pt-2">
    {% for nav_item in nav %}
    {% if nav_item.children %}
    <div id="technology" class="tab-pane active">
        <ul class="list-unstyled">
            {% for nav_item in nav_item.children | sort(attribute='posted') | reverse %}
            {% if 'blog' in nav_item.url and nav_item.title != "Blog" and nav_item.meta.category == "Technology" %}
            <li class="">
                <h2 class="pt-3">
                    <a href="{{ nav_item.url|url }}" class="text-dark">
                        {% if nav_item.meta.title %}
                        {{ nav_item.meta.title }}
                        {% else %}
                        {{ nav_item.title }}
                        {% endif %}
                    </a>
                </h2>
                <div class="text-dark">
                    {% if nav_item.meta.posted %}
                    {{ nav_item.meta.posted }}
                    {% elif nav_item.meta.updated %}
                    {{ nav_item.meta.updated }}
                    {% endif %}
                </div>

                {% if nav_item.meta.description %}
                <div class="text-dark">
                    {{ nav_item.meta.description | truncate(80, false) | striptags }}
                    <a href="{{ nav_item.url | url }}">Read More -></a>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="diy" class="tab-pane">
        <ul>
            {% for nav_item in nav_item.children | sort(attribute='posted') | reverse %}
            {% if 'blog' in nav_item.url and nav_item.title != "Blog" and nav_item.meta.category == "Technology" %}
            <li class="">
                <h2 class="pt-3">
                    <a href="{{ nav_item.url|url }}" class="text-dark">
                        {% if nav_item.meta.title %}
                        {{ nav_item.meta.title }}
                        {% else %}
                        {{ nav_item.title }}
                        {% endif %}
                    </a>
                </h2>
                <div class="text-dark">
                    {% if nav_item.meta.posted %}
                    {{ nav_item.meta.posted }}
                    {% elif nav_item.meta.updated %}
                    {{ nav_item.meta.updated }}
                    {% endif %}
                </div>

                {% if nav_item.meta.description %}
                <div class="text-dark">
                    {{ nav_item.meta.description | truncate(80, false) | striptags }}
                    <a href="{{ nav_item.url | url }}">Read More -></a>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="youtube" class="tab-pane">
        <ul>
            {% for nav_item in nav_item.children | sort(attribute='posted') | reverse %}
            {% if 'blog' in nav_item.url and nav_item.title != "Blog" and nav_item.meta.category == "Technology" %}
            <li class="">
                <h2 class="pt-3">
                    <a href="{{ nav_item.url|url }}" class="text-dark">
                        {% if nav_item.meta.title %}
                        {{ nav_item.meta.title }}
                        {% else %}
                        {{ nav_item.title }}
                        {% endif %}
                    </a>
                </h2>
                <div class="text-dark">
                    {% if nav_item.meta.posted %}
                    {{ nav_item.meta.posted }}
                    {% elif nav_item.meta.updated %}
                    {{ nav_item.meta.updated }}
                    {% endif %}
                </div>

                {% if nav_item.meta.description %}
                <div class="text-dark">
                    {{ nav_item.meta.description | truncate(80, false) | striptags }}
                    <a href="{{ nav_item.url | url }}">Read More -></a>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="all" class="tab-pane">
        <ul>
            {% for nav_item in nav_item.children | sort(attribute='posted') | reverse %}
            {% if 'blog' in nav_item.url and nav_item.title != "Blog" and nav_item.meta.category == "Technology" %}
            <li class="">
                <h2 class="pt-3">
                    <a href="{{ nav_item.url|url }}" class="text-dark">
                        {% if nav_item.meta.title %}
                        {{ nav_item.meta.title }}
                        {% else %}
                        {{ nav_item.title }}
                        {% endif %}
                    </a>
                </h2>
                <div class="text-dark">
                    {% if nav_item.meta.posted %}
                    {{ nav_item.meta.posted }}
                    {% elif nav_item.meta.updated %}
                    {{ nav_item.meta.updated }}
                    {% endif %}
                </div>

                {% if nav_item.meta.description %}
                <div class="text-dark">
                    {{ nav_item.meta.description | truncate(80, false) | striptags }}
                    <a href="{{ nav_item.url | url }}">Read More -></a>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>