<article>
    {% if page.meta.title %}
    <div class="p-1 font-italic text-small rounded text-center">
        {% if page.meta.posted %}
        <strong>Posted:</strong> {{ page.meta.posted }} |
        {% endif %}

        {% if page.meta.updated %}
        <strong>Updated:</strong> {{ page.meta.updated }} |
        {% endif %}

        <strong>Read Time:</strong> {{ page.content | wordcount // 200 }} minute(s)
    </div>
    {% endif %}

    {{ page.content }}

    <div class="bg-light border border-danger my-3 p-3 rounded">
    {% if page.meta.posted %}
    <strong>Published:</strong> {{ page.meta.posted }}
    {% elif page.meta.updated %}
    <strong>Published:</strong> {{ page.meta.updated }}
    {% endif %}
    <br />

    {% if page.meta.updated %}
    <strong>Updated:</strong> {{ page.meta.updated }}<br />
    {% endif %}

    {% if page.meta.author %}
    <strong>Author:</strong> {{ page.meta.author }}<br />
    {% endif %}

    {% if page.meta.category %}
    <strong>Category:</strong> {{ page.meta.category | capitalize }}<br />
    {% endif %}

    {% if page.meta.keywords %}
    <strong>Keywords:</strong> {{ page.meta.keywords }}<br />
    {% endif %}

    {% if page.meta.youtube %}
    <strong>Video URL:</strong> <a href="{{ page.meta.youtube }}"
        target="_blank">{{ page.meta.youtube }}</a><br />
    {% endif %}

    <strong>Read Time:</strong> {{ page.content | wordcount // 200 }} minute(s)<br />
    <strong>Words:</strong> {{ page.content | wordcount }}<br />
    </div>
</article>