<!-- <div class="container marketing"> -->

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 my-auto">
        <h2 class="featurette-heading">Handyman Services</h2>
        <p class="lead">
            Need that new furniture put together? Rotted trim that needs to be replaced?
            Is your toilet running even when nobody has used it? Hot summer days make you wish
            that you had a ceiling fan? We got you covered!
        </p>
        <p><a class="btn btn-danger" href="/about#handyman-services">Read more!</a></p>
    </div>
    <div class="col-md-5 my-auto">
        <img src="/images/patiofurniture.jpg" alt="Patio furniture assembled">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2 my-auto">
        <h2 class="featurette-heading">Technology Services</h2>
        <p class="lead">
            Need your business's website updated or software customized to improve an
            existing process? Check out the Technology Services that we offer!
        </p>
        <p><a class="btn btn-danger" href="/about#technology-services">Read more!</a></p>
    </div>
    <div class="col-md-5 order-md-1 my-auto">
        <img src="/images/thermostat.jpg" alt="Smart thermostat wiring">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 my-auto">
        <h2 class="featurette-heading">Blog and Portfolio</h2>
        <p class="lead">
            To see our past work, checkout out the blog where we share our experience with and
            photos of previous projects.
        </p>
        <p><a class="btn btn-danger" href="/blog">Read more!</a></p>
    </div>
    <div class="col-md-5 my-auto">
        <img src="/images/kitchenisland.jpg" alt="Patio furniture assembled">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2 my-auto">
        <h2 class="featurette-heading">Service Areas</h2>
        <p class="lead">
            While it would be nice to be able to service everyone wherever they are,
            servicing everyone regardless of where they are located is difficult to do.
        </p>
        <p><a class="btn btn-danger" href="/about#service-areas">Read more!</a></p>
    </div>
    <div class="col-md-5 order-md-1 my-auto">
        <img src="/images/ontheroad.jpg" alt="Picture of open road">
    </div>
</div>

<div class="my-5"></div>

<!-- /END THE FEATURETTES -->
<!-- </div> -->