<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/almostengrtheme.min.css" rel="stylesheet">

<!-- other styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<link href="/css/a11y-dark-theme.min.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Custom styles for by page -->
{% if page.url == "links/" %}
<link href="/css/almostengrlinks.min.css" rel="stylesheet">
{% endif %}

{% if page.is_homepage %}
<link href="/css/carousel.min.css" rel="stylesheet">
{% else %}
<link href="/css/navbar-top-fixed.min.css" rel="stylesheet">
{% endif %}
