<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ config.site_name }}" />

  {% include "partial/description.html" %}
  {% include "partial/author.html" %}
  {% include "partial/title.html" %}
  {% include "partial/image.html" %}
  {% include "partial/keywords.html" %}
  {% include "partial/pagetype.html" %}
  {% include "partial/robots.html" %}
  {% include "partial/canonical.html" %}
  {% include "partial/scripts.html" %}
  {% include "partial/styles.html" %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
    <a class="navbar-brand font-weight-bold" href="/">{{ config.site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% for nav_item in config.mainnav %}
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="{{ nav_item.url }}">{{ nav_item.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <form class="mt-2 mt-md-0" method="GET" action="/contact">
        <button class="btn btn-danger mx-2 text-uppercase" type="submit">Request Service</button>
      </form>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="row">
      <div id="content-area" class="col-sm-12 col-lg-8">
        {% if page.meta.title %}
        <h1>{{ page.meta.title }}</h1>
        {%endif%}

        {% if page.is_homepage %}
        {% include "partial/jumbotron.html" %}

        {% elif page.url == "payment/" %}
        {{ page.content }}
        {% include "partial/payment.html" %}

        {% elif page.url == "blog/" %}
        {% include "partial/bloglist.html" %}
        {% include "partial/googleadsense.html" %}

        {% elif page.url == "submission/" %}
        {% include "partial/_submission.html" %}

        {% elif page.url == "contact/" %}
        {{ page.content }}
        {% include "partial/_request.html" %}

        {% elif 'blog' in page.url and 'Blog' not in page.title %}
        {% include "partial/blog.html" %}

        {% else %}
        {{ page.content }}
        {% endif %}

        <p><a href="#top">Back to Top</a></p>
      </div><!-- end content-area -->

      <div id="sidebar" class="col-sm-12 col-lg-4 border-left border-light">
        <div class="mb-3 border border-dark rounded p-2 bg-dark text-white">
          <h3 class="sidebar-header">Request Service</h3>
          {% include "partial/_requestside.html" %}
        </div>

        <div class="mb-3 border border-dark rounded p-2 bg-light">
          <h3 class="sidebar-header">Sponsor</h3>
          {% include "partial/googleadsense.html" %}
          As a IT professional, a blog allows you to save code snippets and copy and paste them in your future projects.
          In addition, it assists other developers with their coding projects, as it may be exactly what they are
          looking for.
        </div>

        <div class="mb-3 border border-dark rounded p-2 bg-light">
          <h3 class="sidebar-header">Sponsor</h3>
          {% include "partial/googleadsense.html" %}
        </div>
      </div><!-- end sidebar -->
    </div>
  </main>

  <footer class="bg-dark p-3">
    <div class="row container m-auto">
      <div class="text-center col-sm-12 col-lg-3 border rounded p-2 border-secondary">
        <ul class="list-unstyled">
          {% for link in config.footer1 %}
          <li class="mr-3"><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
        <p><a href="#top">Back to Top</a></p>
      </div>
      <div class="text-center col-sm-12 col-lg-3 border rounded p-2 border-secondary">
        {% include "partial/serviceareas.html" %}
      </div>
      <div class="text-center col-sm-12 col-lg-3 text-white border rounded p-2 border-secondary">
        <ul class="list-unstyled">
          {% for link in config.extra.social %}
          <li class="mr-3 text-capitalize" target="_blank"><a href="{{ link.link }}">{{ link.type }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="text-center text-white col-sm-12 col-lg-3 border rounded p-2 border-secondary">
        <p>{% if config.copyright %} {{ config.copyright }} {%endif%}</p>
        <p class="text-red text-small">
          Cookies are used on this website to track your visits, provide advertisements specific
          to you, and preferences by a third-party.
          By continuing to use this site, you agree to the use of cookies unless you have disabled them.
          <a class="text-red" href="/privacy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>