{% if page and page.meta.description %}
<p id="description">{{ page.meta.description }}</p>
{% endif %}

{%- set num_of_words = page.content | wordcount // 200 -%}
<p id="readtime"><strong>Read Time: </strong>{% if num_of_words <= 1 %} 1 minute{% else %} {{ num_of_words }} minutes{% endif %} </p>

<p id="wordcount"><strong>Word Count: </strong>{{ page.content | wordcount }} words</p>

{% if page and page.meta.posted %}
<p id="posteddate"><strong>Posted: </strong>{{ page.meta.posted }}</p>
{% endif %}

{% if page and page.meta.updated %}
<p id="updateddate"><strong>Updated: </strong>{{ page.meta.updated }}</p>
{% endif %}

{% if page and page.meta.author %}
<p id="author">
    <strong>Author: </strong>
    {% if page.meta.authorurl %}
    <a href="{{ page.meta.authorurl|url }}" target="_blank">{{ page.meta.author | striptags }}</a>
    {% else %}
    {{ page.meta.author | striptags }}
    {% endif %}
</p>
{% endif %}

{% if page and page.meta.category %}
<p id="category"><strong>Category: </strong><a href="/{{page.meta.category|lower}}">{{ page.meta.category|capitalize }}</a></p>
{% endif %}

{% if page and page.meta.keywords %}
{% set keywordlist = page.meta.keywords.split(',') %}
<p id="keywords"><strong>Keywords: </strong>{%- include "_keywords.html" -%}</p>
{% endif %}