<div class="row">
    {% if nav_item.meta.image %}
    <div class="col-4">
        {% if nav_item.meta.image and nav_item.meta.imagealt %}
        <img src="{{ nav_item.meta.image }}" alt="{{nav_item.meta.imagealt}}" />
        {% elif nav_item.meta.image %}
        <img src="{{ nav_item.meta.image }}" alt="No alternate text was provided" />
        {% endif %}
    </div>
    {% endif %}
    <div class="col">
        <h3><a href="{{ nav_item.url }}" class="text-decoration-none">{{ nav_item.title }}</a></h3>
        <div>
            {% if nav_item.meta.description %}
            {{ nav_item.meta.description }}
            {% else %}
            {{ nav_item.content | striptags | truncate(250,false) }}
            {% endif %}
        </div>
        <div class="text-muted font-italic">
            A 
            <span title="{{ nav_item.content | wordcount }} words">
                {%- set num_of_words = nav_item.content | wordcount // 200 -%}
                {% if num_of_words <= 1 %}1 {% else %}{{ num_of_words }} {% endif %}
            </span> minute read
            {% if nav_item.meta.posted %}
            posted on {{ nav_item.meta.posted }}
            {% endif %}
            {% for category in nav_item.ancestors | batch(1) | first %}
            in <a class="text-muted" href="/{{ category.title | lower }}">{{ category.title | capitalize }}</a>
            {% endfor %}
        </div>
    </div>
</div>