<h2 class="latest-posts">Latest Blog Posts By Category</h2>

<div class="latest-posts tab-pane active">
    {% for nav_item in nav %}
    {% if nav_item.children and page %}
    {% for nav_item in nav_item.children | reverse | batch(1) | first %}
    {% if 'technology' in nav_item.url or 'handyman' in nav_item.url or 'gardening' in nav_item.url or 'lifestyle' in nav_item.url %}
    {% include "_latest-item.html" %}
    <hr />
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>