<li>
    <h3><a href="{{ nav_item.url }}" class="text-decoration-none">{{ nav_item.title }}</a></h3>
    {% if nav_item.meta.image and nav_item.meta.imagealt %}
    <p><img src="{{ nav_item.meta.image }}" alt="{{nav_item.meta.imagealt}}" /></p>
    {% elif nav_item.meta.image %}
    <p><img src="{{ nav_item.meta.image }}" alt="No alternate text was provided" /></p>
    {% endif %}
    <p>
        {% if nav_item.meta.description %}
        {{ nav_item.meta.description }}
        {% else %}
        {{ nav_item.content | striptags | truncate(250,false) }}
        {% endif %}
        <br />
        <span class="text-muted">
            {% if nav_item.meta.posted %}
            <strong>Posted:</strong> {{ nav_item.meta.posted }}
            {% endif %}
            <strong>Read Time:</strong> <span title="{{ nav_item.content | wordcount }} words">{{ nav_item.content | wordcount // 200 }} minute(s)</span>
            {% for category in nav_item.ancestors | batch(1) | first %}
            <strong>Category: </strong>
            <a href="/{{ category.title | lower }}">{{ category.title | capitalize }}</a>
            {% endfor %}
        </span>
    </p>
</li>