#
# Apache settings:
#

# Handle any server errors
ErrorDocument 404 /404/
ErrorDocument 500 /500/

# Do permenant redirects
Redirect 301 /archive/(.*) /404/
Redirect 301 /category/(.*) /404/
Redirect 301 /keywords/(.*) /404/
Redirect 301 /latest-articles /404/
Redirect 301 /taxonomy/(.*) /404/
Redirect 301 /recent-posts /

Redirect 301 /7-reasons-i-can-do-without-app /blog/technology/2019.06.16-7-reasons-i-can-do-that-without-the-app
Redirect 301 /change-air-filter-2013-2018-5th-generation-nissan-altima /blog/diy/2018.10.27-change-air-filter-on-2013-2018-5th-generation-nissan-altima
Redirect 301 /configure-etckeeper-gitlab /blog/technology/2018.05.15-configure-etckeeper-with-gitlab
Redirect 301 /faq-frequently-asked-questions /404
Redirect 301 /install-home-assistant-ubuntu-1604-vm-almost-engineered-tech /blog/technology/2018.03.13-install-home-assistant-on-ubuntu-16.04-vm
Redirect 301 /install-seven-square-ubuntu /blog/technology/2018.07.14-install-seven-square-on-ubuntu
Redirect 301 /markdown-my-words /blog/technology/2019.07.23-markdown-my-words
Redirect 301 /manual-tree-branch-tear-down /blog/gardening/2019.03.16-manual-tree-branch-tear-down
Redirect 301 /set-gecko-driver-ubuntu /blog/technology/2019.04.05-set-up-gecko-driver-on-ubuntu
Redirect 301 /squirrels-taught-me-about-women-and-food /blog/lifestyle/2019.07.03-squirrels-taught-me-about-women-and-food
Redirect 301 /7-steps-more-steps /blog/lifestyle/2019.05.09-7-steps-for-more-steps
Redirect 301 /uninstall-plex-media-server-ubuntu-1604-almost-engineered-tech /blog/technology/2018.04.10-uninstall-plex-media-server-from-ubuntu-16.04
Redirect 301 /hdmi-sound-ubuntu-shuttle-ds61 /blog/technology/2015.11.21-hdmi-sound-on-ubuntu-with-shuttle-ds61
Redirect 301 /install-openwrt-linksys-wrt1900ac-v1 /blog/technology/2016.07.14-install-openwrt-on-linksys-wrt1900ac-v1
Redirect 301 /copying-infested-code /blog/technology/2019.09.05-copying-infested-code
Redirect 301 /use-twitter-and-rules-farmos-notifications /blog/technology/2018.02.13-use-twitter-and-rules-for-farmos-notifications
Redirect 301 /use-twitter-and-rules-farmos-notifications-almost-engineered-tech /blog/technology/2018.02.13-use-twitter-and-rules-for-farmos-notifications
Redirect 301 /drupal-8-tutorial-series-0 /blog/technology/2019.02.27-drupal-8-tutorial-series

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "/\.|^\.(?!well-known/)" - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/... will be redirected to http://www.example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment the following:
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]
</IfModule>

