name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  # spelling:
  #   name: Check Spelling
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Remove duplicates from and sort wordlist
  #     run: (/bin/cat .wordlist.txt | /usr/bin/sort | /usr/bin/uniq) > .wordlist.tmp
  #   - name: Moving cleaned wordlist
  #     run: /bin/mv .wordlist.tmp .wordlist.txt
  #   - uses: rojopolis/spellcheck-github-actions@0.5.0
  #     name: Spellcheck

  build:
    name: Build
    runs-on: ubuntu-latest
    # needs: spelling
    steps:
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - run: /usr/bin/python3 -m pip install --upgrade pip
    - run: /usr/bin/python3 -m pip install --upgrade setuptools
    - run: /usr/bin/python3 -m pip install --upgrade mkdocs
    - run: /usr/bin/python3 -m pip install --upgrade mkdocs-minify-plugin

    - name: Check out main branch
      uses: actions/checkout@v2
      with:
        ref: main

    - run: git fetch -p
    # - run: /usr/bin/python3 -m mkdocs gh-deploy -f Almostengr.AlmostengrWebsite/mkdocs.yml -b website

    - run: /usr/bin/python3 -m mkdocs build -f Almostengr.AlmostengrWebsite/mkdocs.yml

    - name: Deploy to Production
      uses: betanzos/scp-upload@v1
      with:
        source: Almostengr.AlmostengrWebsite/site/*
        host: ${{ secrets.HOSTNAME }}
        port: ${{ secrets.PORT_NUMBER }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        remote_dir: 'www'

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #   - name: Deploy to Production
  #     uses: fifsky/ssh-action@master
  #     with:
  #       command: cd && cd www && git pull origin website
  #       host: ${{ secrets.HOSTNAME }}
  #       key: ${{ secrets.PRIVATE_KEY }}
  #       port: ${{ secrets.PORT_NUMBER }}
  #       user: ${{ secrets.USERNAME }}

  shakeout:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      name: Setup .NET Core
      with:
        dotnet-version: '3.1.x' # SDK Version to use; x will use the latest version of the 3.1 channel
    - name: Running tests
      run: dotnet test -c RELEASE Almostengr.AlmostengrWebsite.Tests/Almostengr.AlmostengrWebsite.Tests.csproj
